<footer class="cf">
	<div id="Stage2" class="EDGE-442906">
	</div>
	<div class="main">
		<div class="row">
			<div class="pane base8 tp7 ml12">
	            <p class="border">All content copyright © 2015 Waitrose</p>
	            <a href="#">Privacy policy</a>

			</div>
			<div class="pane base4 tp5 ml12 ml-mgZero">
				<p class="follow">Follow us</p>
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon social_instagram"></a>
				<a href="#" class="social-icon social_youtube"></a>
				<a href="#" class="social-icon icon_mail"></a>
			</div>
		</div>
	</div>
</footer><!-- footer -->

<script type="text/javascript" src="assets/js/lib.min.js"></script>
<script type="text/javascript" src="assets/js/framework.min.js"></script>
<script type="text/javascript" src="assets/js/components.min.js"></script>

<script>
   AdobeEdge.loadComposition('http://winter.waitrosepresspack.co.uk/header', 'EDGE-442905', {
    scaleToFit: "width",
    centerStage: "none",
    minW: "0",
    maxW: "undefined",
    width: "1700px",
    height: "200px"
}, {"dom":{}}, {"dom":{}});

   AdobeEdge.loadComposition('http://winter.waitrosepresspack.co.uk/footer', 'EDGE-442906', {
    scaleToFit: "width",
    centerStage: "none",
    minW: "0",
    maxW: "undefined",
    width: "1700px",
    height: "279px"
}, {"dom":{}}, {"dom":{}});
</script>