<footer class="cf">
	<div class="main">
		<div class="row">
			<div class="pane base8 tp7 ml12">
	            <p class="border">All content copyright © 2014 Waitrose</p>
	            <a href="#">Privacy Policy</a>

			</div>
			<div class="pane base4 tp5 ml12 ml-mgZero">
				<p class="follow">Follow us</p>
				<a href="#" class="social-icon social_facebook"></a>
				<a href="#" class="social-icon social_twitter"></a>
				<a href="#" class="social-icon social_pinterest"></a>
				<a href="#" class="social-icon social_instagram"></a>
				<a href="#" class="social-icon social_youtube"></a>
				<a href="#" class="social-icon icon_mail"></a>
			</div>
		</div>
	</div>
</footer><!-- footer -->

<script type="text/javascript" src="assets/js/lib.min.js"></script>
<script type="text/javascript" src="assets/js/framework.min.js"></script>
<script type="text/javascript" src="assets/js/components.min.js"></script>