<header>
	<div class="main wrapper-header primary cf">
		<h1>
			<a href="../waitrose_demo/index.html">
				<span>Waitrose</span>  Press Pack <em>Spring</em> 2015
			</a>
			</h1>
		<div class="header-actions">
			<a href="#" class="border">Your Lightbox</a>
			<a href="#">Log Out</a>
			<div class="header-actions-secondary">
				<a href="#" class="border">Waitrose Media Centre</a>
				<a href="#">Contact Us</a>
			</div>
		</div>
	</div>


		<div class="nav main cf">
				<!-- START Navigation -->
			<nav id="primary-navigation" class="component megamenu-container cf">
      <div class="nav-btn mega-btn icon_menu">
        <a href="#" class="icon_menu"></a>
      </div>

      <div class="megamenu-list">
      	<a class="home mobile" href="../waitrose_demo/index.html">Home</a>
        <ol class="megamenu">
          <li class="site-section first">
            <a href="#" class="top-level-item"><span class="arrow_carrot-down">Valentine's Day</span></a>
            <span class="mega-item"></span>

            <div class="mega-drop">
						  <div class="inner cf">
					        <ul class="menu-items">
					          <li><a href="">Baking &amp; Cookery</a></li>
					          <li><a href="">His &amp; Her Beauty</a></li>
					          <li><a href="">Chocs, Lollies &amp; DIY</a></li>
					          <li><a href="">Cakes &amp; Bakes</a></li>
					          <li><a href="">Flowers</a></li>
					        </ul>
					        <ul class="mobile">
					        	<li><a href="">Your Lightbox</a></li>
					        	<li><a href="">Log out</a></li>
					        	<li><a href="">Contact Us</a></li>
					        	<li><a href="">Waitrose Media Centre</a></li>
					        	<li><a href="">Privacy Policy</a></li>
					        </ul>
						  </div>
						</div>
          </li>

          <li class="site-section second">
            <a href="#" class="top-level-item"><span class="arrow_carrot-down">Mother's Day</span></a>
            <span class="mega-item"></span>

            <div class="mega-drop">
						  <div class="inner cf">
				        <ul class="menu-items">
				          <li><a href="">Sewing</a></li>
				          <li><a href="">Mum's On The Go</a></li>
				          <li><a href="">Cakes &amp; Glassware</a></li>
				          <li><a href="">Flowers</a></li>
				        </ul>
				        <ul class="mobile">
					        	<li><a href="">Your Lightbox</a></li>
					        	<li><a href="">Log out</a></li>
					        	<li><a href="">Contact Us</a></li>
					        	<li><a href="">Waitrose Media Centre</a></li>
					        	<li><a href="">Privacy Policy</a></li>
					        </ul>
				      </div>
						</div>
          </li>

          <li class="site-section third">
            <a href="#" class="top-level-item"><span class="arrow_carrot-down">Easter</span></a>
            <span class="mega-item"></span>

            <div class="mega-drop">
						  <div class="inner cf">
				        <ul class="menu-items">
				          <li><a href="">Eggs For Adults</a></li>
				          <li><a href="">Woodland Friends</a></li>
				          <li><a href="">Cakes &amp; Bakes</a></li>
				          <li><a href="">HCB</a></li>
				          <li><a href="">Seasonal Non-Food</a></li>
				          <li><a href="">Flowers</a></li>
				        </ul>
				        <ul class="mobile">
					        	<li><a href="">Your Lightbox</a></li>
					        	<li><a href="">Log out</a></li>
					        	<li><a href="">Contact Us</a></li>
					        	<li><a href="">Waitrose Media Centre</a></li>
					        	<li><a href="">Privacy Policy</a></li>
					        </ul>
				      </div>
						</div>
          </li>

          
        </ol>
      </div>
    </nav>
    	<!-- END Navigation -->

			<div class="search">				
				<a href="#" class="show-search icon_search"><span>Search</span></a>
				<input id="global-search" class="global-search" name="global-search" placeholder="Search" type="text" value="" data-width="344px">
			</div>
		</div>	
</header><!-- end header -->