<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js ','no-js').replace('no-js','');</script>
    <title>Rhapsody Media | UI Framework 1.0</title>
	<meta charset="utf-8">
	<meta content="" name="keywords">
    <meta content="" name="description">

	<meta name="viewport" content="width=device-width, maximum-scale=1">

	<link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- CSS -->
	<link type="text/css" rel="stylesheet" href="assets/css/main.css">	
    <link type="text/css" rel="stylesheet" href="assets/css/print.css" media="print">

    <!-- Must live here to provide html5 shiv in IE8 -->
    <script src="assets/js/lib/single/modernizr-2.8.3.js"></script>

    <!--[if lt IE 9]>    	
		<script src="assets/js/lib/single/respond.min.js"></script>
	<![endif]-->