
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if IE 10]>       <html class="no-js ie gtie9 gtie8 gtie7 gtie6 gtie5 ie10" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="project-index">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<header>
		<div class="row">
			<div class="pane base6">

					<a target="_blank" href="#"><img src="assets/img/structure/logo_rhapsody.png" alt="Rhapsody Media"></a>

			</div>
		</div>
	</header><!-- end header -->

<div class="wrapper">
	<div id="main">
	    <a id="skipnav" tabindex="-1"></a>


		<div class="row">
			<div class="pane base6 ml12">

				<img src="assets/img/structure/logo_waitrose.png" alt="Waitrose">

			</div>
			<div class="pane base6 ml12 ml-mgZero project-client">
				<div class="frame cf">

				<h1>Project: Waitrose Press Pack</h1>

				</div><!-- .frame -->
			</div>
		</div>

		<div class="row">
			<div class="pane base6 ml12 project-templates">
				<div class="frame cf">			

				<h3>Templates</h3>

				<ul class="status">
					<li><span class="statusGreen"></span><a href="template1.html">Template 1</a></li>
					<li><span class="statusGreen"></span><a href="template6.html">Template 1 With Carousel</a></li>
					<li><span class="statusGreen"></span><a href="template2.html">Template 2</a></li>
					<li><span class="statusGreen"></span><a href="template3.html">Template 3</a></li>
					<li><span class="statusGreen"></span><a href="template4.html">Template 4</a></li>
					<li><span class="statusGreen"></span><a href="template5.html">Show items/wine buttons</a></li>
					<li><span class="statusGreen"></span><a href="lightbox.html">Lightbox</a></li>
					<li><span class="statusGreen"></span><a href="splash.html">Splash page</a></li>
				</ul>

				<h3>Style guide</h3>
				<ul class="status">
					<li><span class="statusGrey"></span><a href="style-guide.html">Style guide</a></li>
				</ul>

				</div><!-- .frame -->
			</div>

			<div class="pane base6 ml12 ml-mgZero project-components">
				<div class="frame cf">

				<h2>Components</h2>

				<h3>Phase 1</h3>

				<ul class="status">
					<li><span class="statusGreen"></span><a href="modal.html">Modal dialog (login/reset password/sign up)</a></li>
					<li><span class="statusGreen"></span><a href="infobox.html">Infobox</a></li>
					<li><span class="statusGreen"></span><a href="filters.html">Filters</a></li>
					<li><span class="statusGreen"></span><a href="buttons.html">Buttons</a></li>
					<li><span class="statusGreen"></span><a href="lightbox.html">Lightbox</a></li>
					<li><span class="statusGreen"></span><a href="carousel.html">Carousel</a></li>
				</ul>									

				</div><!-- .frame -->
			</div>
		</div>

	</div><!-- #main -->
</div><!-- #wrapper -->

  </body>
</html>
