.component.filters {
	width: 100%;
	margin: 0 0 16px 0;
	.bttn {
		border: 1px solid $btn_primary;

		&.secondary {
			text-transform: uppercase;
		}
	}

	.close {
		margin-top: 0;
		position: absolute;
		right: -10px;
		top: -12px;
		text-shadow: none;
		background-color: #86dade;
		opacity: 1;
		filter: alpha(opacity=100);
		color: #fff;
		font-size: 36px;
		width: 36px;
		border-radius: 20px;
		line-height: 26px;
		@extend .icon_close;

		&:hover, &:active, &:focus {
			background-color: #fdb813;
		}
	}

	.view-toggles {
		float: right;
	}

	.top-btns {
		.toggle { float: right; }
	}

	.facets {
		float: left;
		width: 100%;
		background:url("/assets/img/structure/white-line.png") 50% 0 repeat-y $btn_primary;
    background-size: 100%;
    position: relative;

		h3 {
			color: #fff;
			border-top: 1px solid #fff;
			padding: 0;
			&:first-child {
				border-top: none;
			}

			a {
				color: #fff;
				display: block;
				padding: 16px 16px 0;
				text-decoration: none;
				cursor: default;

				&.active span {
					@extend .arrow_triangle-up;
				}
			}

			span {
				@extend .arrow_triangle-down;
				&:before {
					position: absolute;
					right: -18px;
					top: 2px;
					color: #fff;
				}
			}
		}

		.bttn {
			border-color: #fff;

			&.reset {
				margin: 0 16px 16px;
			}

			&:active, &:focus, &:hover, &.active {
				color: $btn_primary_col;
			}
		}

		.panel {
			padding: 16px;

			&.type {
				.secondary { 
					text-transform: none;
				}
			}

			&.price {
				h3 a { padding-bottom: 0; }
			}
			&.themes {
				padding-left: 0;

				h3 a { padding-bottom: 0; }
			}
		}

		.pane {
			margin-bottom: 0;
		}
	}

	.irs {
		height: 50px;
	}

	.irs-line {
		background: transparent;
		border-color: #fff;
		top: 13px;
	}

	.irs-bar {
		border-color: #fff;
		background: #fff;
		top: 13px;
	}

	.irs-slider {
		background: #000;
		border-color: #000;
		top: 5px;
	}

	.irs-from, .irs-to, .irs-single {
		bottom: -5px;
		top: auto;
		color: #000;
		background: transparent;
	}

	.irs-hidden-input {
		display: none;
	}
}

// @media all and(max-width: 767px) {
// 	.component.filters {
// 		.facets .panel {
// 			padding: 16px 4px;
// 		}
// 	}
// }

@media all and(max-width: 767px) {
	.component.filters {
		margin: 0 0 4% 0;
		.pane { margin-bottom: 0!important; }

		.top-btns {
			.bttn {
				width: 50%;
				&.filters {
					width: 100%;
					margin: 0;
					padding: 5px 10px;
					margin-top: 16px;
					color: #000;
					border-radius: 4px 4px 0 0;
				}
			}
		}

		.facets {
			background-image: none;
			background-color: #fff;

			h3 {
				border: none;
				padding: 0;
				text-align: center;
				font-family: WaitroseRegular;
				font-size: 16px;
				font-size: 1.6rem;
				text-transform: uppercase;
				color: #000;
				background: $btn_primary;

				a {
					padding: 14px 10px;
					color: #000;

					&.active {
						background: #c5eced;
					}

					span {
						position: relative;
						text-indent: 0;
					}
				}
				
			}
			.bttn {
				border-color: $btn_primary;
				&.reset {
					margin: 0;
					padding: 14px 10px;
					background: $btn_primary;
					color: #000;
					width: 100%;
					border-radius: 0 0 4px 4px;
					font-family: WaitroseRegular;
				}
				&.active {
					border-color: $btn_primary;
				}
			}
			.pane {
				margin-left: 0; 

			}
			.panel {
				display: none;
				background: #fff;
				&.type, &.themes {
					text-align: center;
					.bttn {
						float: none;
						display: inline-block;
					}
				}
				&.themes {
					padding: 16px 10px;
				}
			}
		}

		.irs-line {
			border-color: $btn_primary;
			background: transparentize($btn_primary, 0.5);
		}
		.irs-bar {
			border-color: $btn_primary;
			background: $btn_primary;
		}

		.close, .view-toggles {display: none;}
	}

}