.component.infobox {
	position: relative;
	background-color:#fff;
	border: 1px solid #d6d6d6;
	transition: all .2s ease-out;

	&.hero {
		.img-wrapper {
			height: 456px;
			width: 666px;
		}
	}

	&.large {
		.img-wrapper {
			height: 398px;
			width: 438px;
		}
	}

	&.hero {
		.wrapper-info {
			display: none;
			bottom: 0;
			position: absolute;
		}
	}

	.img-wrapper {
		border: none;
	}

	.wrapper-info {
		position: relative;
		width: 100%;
		background-color: #fff;

		.expand {
			background: #fff;
			padding: 10px 0 15px;
		}
	}

	.bttn {
		display: none;
		margin: 10px auto 0;
		background-color: $btn_primary_active;

		&:hover, &:active, &:focus {
			background-color: $btn_primary_hover;
		}

		.icon {
			line-height: 16px;
			line-height: 1.6rem;
		}
		.text {
			text-transform: uppercase;
		}
		.icon, .text {
			display: inline;
			margin: 0;
		}
	}

	.title,
	.price {
		text-align: center;
	}

	.title {
		font-family: 'Waitrosebold';
	}

	&:hover, &:active, &:focus {
		box-shadow: 0px 6px 12px 0px rgba(50,50,50,0.55);
		.wrapper-info {
			display: block;
			.expand {
				margin-top: -46px;
				text-align: center;

				.bttn {
					display: inline-block;
				}
			}
		}
	}
}

//toggle-mode layout
.toggle-mode {
	.modal-body {
		.pane {
			width: 100%!important;
			margin-left: 0!important;
		}
	}
	.component.infobox {
		&.hero, &.large {
			.img-wrapper {
				height: 136px;
				width: 43.5%;
			}
		}
		.img-wrapper {
			float: left;
			height: 136px;
			@extend .pane.base2;
		}

		.wrapper-info {
			position: absolute;
			right: 0;
			margin-left: 16px;
			height: 100%;
			display: block;
			@extend .pane.base2;
		}

		.bttn {
			display: block;
			position: absolute;
			bottom: 6px;
			right: 6px;
			padding: 5px;
			width: auto;
			border-radius: 4px;

			&.wine {
				right: 60px;
			}

			.text {
				display: none;
			}
			.icon {
				font-size: 32px;
				font-size: 3.2rem;
				display: block;
				&:before {
					padding:0;
				}
			}
			.glyphicons {
				display: block;
				&:before {
					padding: 8px 8px 8px 7px;
				}
			}
		}

		.title,
		.price {
			text-align: left;
		}

		&:hover, &:active, &:focus {
			.wrapper-info .expand {
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 1023px) {
	.component.infobox {
		&.hero {
			.img-wrapper {
				height: 456px;
				width: 746px;
			}
		}
		&.large {
			.img-wrapper {
				height: 398px;
			}
		}
	}
}

@media (max-width: 767px) {

	.toggle-mode .component.infobox, .component.infobox {

		&.hero, &.large {
			.img-wrapper {
				width: 43.5%;
				height: 136px;
			}
			.wrapper-info {
				display: block;
			}
		}

		.img-wrapper {
			float: left;
			height: 136px;
			width: 43.5%;
		}

		.wrapper-info {
			position: absolute;
			right: 0;
			margin-left: 16px;
			height: 100%;
			width: 43.5%;
		}

		.bttn {
			display: block;
			position: absolute;
			bottom: 6px;
			right: 6px;
			padding: 5px;
			width: auto;
			border-radius: 4px;

			.text {
					display: none;
				}
			.icon {
				font-size: 32px;
				font-size: 3.2rem;
				display: block;

				&:before {
					padding-top: 0;
				}
			}
		}

		.title,
		.price {
			text-align: left;
		}

		&:hover, &:active, &:focus {
			.wrapper-info .expand {
				margin-top: 0;
			}
		}
	}
}