.component.infobox {
	position: relative;
	background-color:#fff;
	border: 1px solid #d6d6d6;
	transition: all .2s ease-out;

	&.hero {
		.img-wrapper {
			width: 666px;
			height: 500px;
		}
	}

	&.large {
		.img-wrapper {
			width: 438px;
			height: 417px;
			background-size: cover;
			
		}
	}

	&.hero {
		.wrapper-info {
			display: none;
			bottom: 0;
			position: absolute;
		}
	}

	&.contact {
		.img-wrapper {
			width: 286px;
		}
	}

	.img-wrapper {
		border: none;
	}

	.wrapper-info {
		position: relative;
		width: 100%;
		background-color: #fff;
		display: table;
		min-height: 83px;

		.expand {
			background: #fff;
			padding: 10px 0 15px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	@-moz-document url-prefix() {
		.wrapper-info { display: block; }
		.wrapper-info .expand { display: block; }
	}

	.bttn {
		display: none;
		margin: 10px auto 0;
		background-color: $btn_primary_active;

		&:hover, &:active, &:focus {
			background-color: $btn_primary_hover;
		}

		.icon {
			line-height: 16px;
			line-height: 1.6rem;
		}
		.text {
			text-transform: uppercase;
		}
		.icon, .text {
			display: inline;
			margin: 0;
		}
	}

	.title,
	.price {
		text-align: center;
		padding: 0 5px;
		word-break: break-word;
	}

	.title {
		font-family: 'WaitroseRegular';
	}

	&:hover, &:active, &:focus {
		box-shadow: 0px 6px 12px 0px rgba(50,50,50,0.55);
		.wrapper-info {
			display: block;
			.expand {
				//margin-top: -46px;
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;

				.bttn {
					display: inline-block;
				}
			}
		}
	}
}

span.text-overlay {
	position: absolute;
  color: #fff;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 34px;
  line-height: 3.4rem;
  top: 2%;
  left: 0;
  right: 0;
  padding: 0 20px;
  text-align: center;
  z-index: 1;
}

.advert {
	.component.infobox {
		.wrapper-info {
	    display: none !important
		}
		.img-wrapper {
	    height: 241px
		}
	}
}

//toggle-mode layout
.toggle-mode {
	.modal-body {
		.component.infobox {
			margin-top: 10px;

			.wrapper-info {
				width: 70%;
			}
		}
	}

	.component.infobox {
		&.hero, &.large {
			.img-wrapper {
				height: 136px;
				width: 43.5%;
			}
		}
		.img-wrapper, &.contact .img-wrapper {
			float: left;
			height: 136px;
			@extend .pane.base2;
		}

		.wrapper-info {
			position: absolute;
			right: 0;
			margin-left: 16px;
			height: 100%;
			display: block;
			@extend .pane.base2;
		}

		.bttn {
			display: block;
			position: absolute;
			bottom: 6px;
			right: 6px;
			padding: 5px;
			width: auto;
			border-radius: 4px;

			&.wine {
				right: 60px;
			}

			.text {
				display: none;
			}
			.icon {
				font-size: 32px;
				font-size: 3.2rem;
				display: block;
				&:before {
					padding:0;
				}
			}
			.glyphicons {
				display: block;
				&:before {
					padding: 8px 8px 8px 7px;
				}
			}
		}

		.title,
		.price {
			text-align: left;
		}

		&:hover, &:active, &:focus {
			.wrapper-info .expand {
				margin-top: 0;
				position: static;
			}
		}
	}
}

.toggle-mode {
	&.wine_popup {
		.modal-body {
			.component.infobox {

				.wrapper-info {
					width: 77%;
					margin-left: 0;
					padding-right: 43px;

					.expand {
						padding: 10px 0 0;
					}
				}
			}
		}
	}
}

@include multiline-ellipsis(50px,16px,3em);

@media (max-width: 1023px) {
	.component.infobox {
		.wrapper-info {
			min-height: 66px;
		}
		&.hero {
			.img-wrapper {
				height: 560px;
				width: 746px;
			}
		}
		&.large {
			.img-wrapper {
				height: 344px;
			}
		}
	}
	.advert {
		.component.infobox {
			.img-wrapper {
		    height: 201px
			}
		}
	}
}

@media (max-width: 979px) {
	.toggle-mode {
		.modal-body {
			.component.infobox {
				margin-top: 10px;

				.wrapper-info {
					width: 83%;
				}
			}
		}	
	}
}

@media (max-width: 767px) {

	.toggle-mode {
		.modal-body {
			.component.infobox {

				.wrapper-info {
					width: 60%;
				}
			}
		}

		&.wine_popup {
			.modal-body {
				.component.infobox {

					.img-wrapper {
						width: 136px;
					}
					.wrapper-info {
						width: 50vw;
						float: left;
						position: static;
						padding-right: 50px;
					}
				}
			}
		}
	}

	.toggle-mode .advert, .advert {
		.component.infobox {
			.img-wrapper {
		    height: 136px;
		    width: 100%;
			}
		}
	}

	.toggle-mode .component.infobox, .component.infobox {

		&.hero, &.large, &.contact {
			.img-wrapper {
				width: 43.5%;
				height: 136px;
			}
			.wrapper-info {
				display: block;
			}
		}

		.img-wrapper {
			float: left;
			height: 136px;
			width: 43.5%;
		}

		.wrapper-info {
			position: absolute;
			right: 0;
			margin-left: 16px;
			height: 100%;
			width: 53.5%;
			display: block;
		}

		.bttn {
			display: block;
			position: absolute;
			bottom: 6px;
			right: 6px;
			padding: 5px;
			width: auto;
			border-radius: 4px;

			&.wine {
				right: 60px;
			}

			.text {
					display: none;
				}
			.icon {
				font-size: 32px;
				font-size: 3.2rem;
				display: block;

				&:before {
					padding-top: 0;
					padding-right: 0;
				}
			}
			.glyphicons {
				display: block;
				&:before {
					padding: 8px 8px 8px 7px;
				}
			}
		}

		.title,
		.price {
			text-align: left;
		}

		&:hover, &:active, &:focus {
			.wrapper-info .expand {
				margin-top: 0;
				position: static;
			}
		}
	}
}

@media (max-width: 480px) {
	.toggle-mode .component.infobox, .component.infobox {

		&.hero, &.large, &.contact {
			.img-wrapper {
				width: 40.5%;
				height: 36.3vw;
			}
		}

		.img-wrapper {
			width: 40.5%;
			height: 36.3vw;
		}

		.wrapper-info {
			margin-left: 0;
			height: 100%;
			width: 58%;
		}
	}

	.toggle-mode {
		&.wine_popup {
			.modal-body {
				.component.infobox {

					.wrapper-info {
						width: 80vw;
						padding-right: 0;
					}
				}

				.bttn {
					bottom: auto;
					top: 89px;
				}
			}
		}
	}
}