.component.lightbox-pagination, .component.lightbox-item {
	.export-buttons {
		display: none;
		position: absolute;
		right: 0;
		top: 37px;
		border-radius: 0 0 4px 4px;
		box-shadow: 2px 3px 8px -2px rgba(50,50,50,0.75);
		z-index: 99;

		.bttn {
			display: block;
			float: none;
			width: 101px;
			margin: 0;
		}
	}
}

.component.lightbox-pagination {
	position: relative;

	.clear {
		float: left;
	}
	.export {
		float: right;
	}

	.bttn {
		color: #fff;
		text-transform: uppercase;

		&.export {
			border-radius: 4px 4px 0 0;
		}

		&.active {
			background-color: #fbb831;
		}
	}

	.export-buttons {
		.bttn { width: 128px; }
	}

	&.top {
		border-bottom: 4px solid $btn_primary_bg;
		padding-bottom: 10px;
	}

	&.bottom {
		border-top: 4px solid $btn_primary_bg;
		padding-top: 10px;
	}
}

.component.lightbox-item {
	border-top: 1px dotted #000;
	padding-top: 8px;
	margin-top: 8px;
	&:first-child {
		border: none;
		padding: 0;
		margin: 0;
	}

	.img-wrapper {
		float: left;
		height: auto;
		@extend .pane.base2;

		img {
			border: 1px solid #000;
		}
	}
	.wrapper-info {
		float: left;
		margin-left: 16px;

		.title, .price {
			font-size: 16px;
			font-size: 1.6rem;
			line-height: 17px;
			line-height: 1.7rem;
		}
		.title {
			font-family: 'WaitroseLogofont';
		}
	}
	.wrapper-actions {
		position: relative;
		float: right;
	}

	.bttn {
		float: left;
		color: #fff;
		margin-left: 16px;
		text-transform: uppercase;

		&.export {
			border-radius: 4px 4px 0 0;
		}
		&.active {
			background-color: #fbb831;
		}
	}
}