.megamenu-container {
    float: left;

  .mobile {
      display: none;
    }
}

.megamenu-container ol {
    float: left;

  .site-section {
    float: left;
    margin: 0;
    padding: 0;
    min-width: 164px;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    line-height: 1.8rem;
    position: relative;

    &.first {
      .inner {
        background: url('/assets/img/structure/menu1.png') no-repeat center bottom #fff;
      }
    }

    &.second {
      > a {
        background-color: #efb4ca;
      }

      .inner {
        background: url('/assets/img/structure/menu2.png') no-repeat center bottom #fff;
      }
    }

    &.third {
      > a {
        background-color: #fdb813;
      }

      .inner {
        background: url('/assets/img/structure/menu3.png') no-repeat center bottom #fff;
      }
    }

    > a {
      display: block;
      text-align: center;
      padding: 14px 22px;
      background-color: #e46285;        

      &:hover, &:focus, &:active {
        color: #fff;
        text-decoration: underline;
      }

      span {
        position: relative;
        padding: 0 23px 0 0;

        &:before {
          position: absolute;
          right: 0;
          top: -2px;
        }
      }
    }
  }
}

.megamenu-container .mega-drop {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    z-index: 1;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
    top: auto
}

.megamenu-container .mega-btn {
    display: none;
    z-index: 2;
    position: absolute;
    top: -14px;
    right: 0
}

.megamenu-container .mega-btn a {
    display: block;
    margin: 30px 30px 0 0;

    &:before {
      font-size: 48px;
      font-size: 4.8rem;
    }

    &:hover, &:focus, &:active {
      color: #fdb813;
    }
}

.megamenu-container .mega-drop .close {
    display: none;
}

.megamenu-container .inner {
    background-color: #fff;
    padding: 8px 0 50px 0;
    box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.75);

    ul {
        li {
            a {
                display: block;
                padding: 8px 0 8px 16px;
                color: #333;
                font-family: 'WaitroseRegular';
                font-size: 14px;
                font-size: 1.4rem;
                line-height: 26px;
                line-height: 2.6rem;
                @extend .arrow_carrot-right;

                &:before {
                    font-size: 14px;
                    padding: 5px 3px 0 0;
                    float: left;
                }

                &:hover, &:focus, &:active {
                    color: #e46285;
                }
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
  .megamenu-container {
      min-width:0;

      .mobile {
      display: block;
    }

    .home {
      font-size: 17px;
      font-size: 1.7rem;
      line-height: 36px;
      line-height: 3.6rem;
      color: #000;
      padding: 23px 0 0 20px;
      display: block;
    }
  }

  .megamenu-container .mega-btn {
      display: block
  }

  .megamenu-container .megamenu-list {
      display: none;
      position: absolute;
      left: 3.2%;
      top: 0;
      background-color: #fff;
      min-width: 260px;
      box-shadow: 0px 6px 12px 0px rgba(50,50,50,0.75);
      z-index: 99;
  }

  .megamenu-container .mega-item {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    width: 48px;
    cursor: pointer;
  }

  .megamenu-container ol {
    float: none;
  }

  .megamenu-container ol .site-section {
    float: none;

    > a {
      text-align: left;

      span {        
        display: block;

        &:before {
          right: -8px;
        }
      }
    }
  }

  .megamenu-container .mega-drop {
    position: static;
  }

  .megamenu-container .mega-drop {
    display: none;
  }

  .megamenu-container ol .site-section {

    &.third .menu-items {
      background-color: #fffbe8;

      a {
        &:hover, &:focus, &:active {
          background-color: #fff7d1;
          color: #333;
        }
      }
    }

    &.first, &.second, &.third {
      .inner {
        padding: 0;
        background-image: none;
      }
    }
  }

  .megamenu-container .inner {
    box-shadow: none;

    ul li a {
      &:before {
        content: '•';
      }
    } 
  }
}

@media only screen and (max-width: 567px) {
  .megamenu-container {
    .mega-btn a.icon_menu {
      margin-right: 0;
    }

    .megamenu-list {
      left: 0;
    }
  }
}