.splash-page {
	header { display: none; }

	.edgeLoad-EDGE-3788328 { visibility:hidden; }
	 #Stage { 
	 	position: absolute!important;
	 	background-color: transparent!important;
 			bottom: -30px!important;
 			right: auto!important;
			width: 470px!important;
			z-index: -1!important;
	 }
	 #Stage2 {
	 	position: absolute!important;
	 	bottom: 0!important;
	 	right: 0!important;
	 }
	 #Stage3 {
	 	position: absolute!important;
	 	top: 65px!important;
	 	right: 41px!important;
	 }
}

.splash {
	position: relative;

	.action-btns {
		display: block;
		text-align: right;
	}
	.register-link, .login-link {
		display: inline-block;
		float: none;
	}
	.copy {
		text-align: right;

		h1 {
			position: absolute;
			right: 0;
			top: 105px;
			display: inline-block;
			color: #86dade;

			.first {
				font-family: "WaitroseLogofont";
				font-size: 35px;
				font-size: 3.5rem;
				line-height: 42px;
				line-height: 4.2rem;
				position: absolute;
				left: 105px;
				top: 55px;
			}
			.second {
				font-family: "WaitroseHandscript";
				font-size: 158px;
				font-size: 15.8rem;
				line-height: 260px;
				line-height: 26rem;
				color: #fdb813;
			}
			.third {
				font-family: "WaitroseRegular";
				font-size: 51px;
				font-size: 5.1rem;
				line-height: 24px;
				position: absolute;
				line-height: 2.4rem;
				left: 180px;
				top: 190px;
			}
			.fourth {
				font-family: "WaitroseLogofont";
				font-size: 23px;
				font-size: 2.3rem;
				line-height: 24px;
				line-height: 2.4rem;
				text-transform: uppercase;
				position: absolute;
				white-space: nowrap;
				left: 180px;
				top: 220px;
			}
		}
		h2 {
			position: absolute;
			right: 0;
			top: 340px;
			display: inline-block;
			color: #86dade;
			width: 235px;
			font-size: 24px;
			font-size: 2.4rem;
			line-height: 28px;
			line-height: 2.8rem;
			font-family: 'WaitroseRegular';
			text-align: left;
		}
	}
}

@media all and (min-width: 1025px) {
	.splash-page {
		#Stage {
			zoom: 1.5;
			-moz-transform: scale(1.5);
		}
	}
	@-moz-document url-prefix() {
		.splash-page #Stage { bottom: 190px!important; }
	}
}

@media all and (max-width: 1023px) {
	body.splash-page {
		.megamenu-container .mega-btn {
			display: none;
		}
		header {
			display: block;
			height: 235px;
			.wrapper-header h1 { display: none; }
		}
		#Stage {
			width: auto!important;
			right:0px!important;
	 }
		 .splash {
			position: static;

			.action-btns {
				text-align: center;
				margin: 100px 0 0 0;
			}
			.copy {
				h1 {
					left: 20px;
					top: 0;
					right: auto;
					.first, .second, .third, .fourth {
						color: #fff; 
					}
					.first {
						top: 35px;
					} 
					.second {
						line-height: 190px;
						line-height: 19rem;
					}
					.third {
						top: 155px;
					}
					.fourth {
						top: 185px;
					}
				}
				h2 { 
					color: #fff;
					left: 455px;
					top: 74px; 
					right: auto;
				}
			}
			#Stage3 {
				right: 11px!important;
			}
		}
	}
}

@media all and (max-width: 767px) {

	.splash-page {
		#Stage {
			left: -12vw!important;
		}
	}

	body.splash-page {
		#Stage, #Stage2, #Stage3 {
			//display: none;
		}
			.splash {
			.action-btns {
				text-align: center;
				margin: 100px 0 0 0;
			}
			.copy {
				h1 {
					.first {
						left: 65px;
						top: 42px;
						font-size: 20px;
						font-size: 2rem;
					}
					.second {
						font-size: 98px;
						font-size: 9.8rem;
					}
					.third {
						left: 115px;
						top: 125px;
						font-size: 31px;
						font-size: 3.1rem;
					}
					.fourth {
						left: 115px;
						top: 147px;
						font-size: 13px;
						font-size: 1.3rem;
					}
				}
				h2 {
					top: 223px;
					width: 144px;
					left: auto;
					right: 0;
					font-size: 14px;
					font-size: 1.4rem;
					line-height: 18px;
					line-height: 1.8rem;
					color: #86dade;
				}
			}
		}
	}	
}

@media all and (max-width: 480px) {
	.splash-page {
		#Stage {
			width: 93.6%;
			zoom: 0.5;
			-moz-transform: scale(0.5);
		}
		#Stage2 {
			zoom: 0.6;
			-moz-transform: scale(0.6);
		}
		#Stage3 {
			zoom: 0.8;
			-moz-transform: scale(0.8);
		}
	}

	div.splash-page {

		#Stage3 {
			top: -30px !important;
			zoom: 0.5;
			left: 350px;
			right: auto!important;
		}

		.splash .copy {

			h1 {
				left: 0;
				right: auto;
				top: -53px;

				.first {
					font-size: 20px;
					font-size: 2rem;
					left: 65px;
					top: 75px;

				}

				.second {
					font-size: 98px;
					font-size: 9.8rem;
				}

				.third {
					font-size: 31px;
					font-size: 3.1rem;
					top: 155px;
					left: 115px;
				}

				.fourth {
					font-size: 13px;
					font-size: 1.3rem;
					left: 115px;
					top: 175px;
				}
			}

			h2 {
				left: 115px;
				right: auto;
				top: 131px;
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 18px;
				line-height: 1.8rem;
				width: 144px;
			}
		}
	}

	body.splash-page {
		
		#Stage3 {
			top: 149px!important;
		}
		.splash .copy h1 { left: 0;}
	}
}






