<div class="component filters cf">
	<div class="row">
		<div class="pane base4">
			<a href="#" class="bttn secondary filters" data-target-element=".facets">Filters (2)</a>
			<a href="#" class="toggle bttn secondary start">Name</a>
			<a href="#" class="toggle bttn secondary end active">Price</a>
		</div>
		<div class="pane base8">
			<div class="view-toggles">
				<a href="#" class="toggle bttn secondary start view-grid active">&nbsp;</a>
				<a href="#" class="toggle bttn secondary end view-list">&nbsp;</a>
			</div>
		</div>
	</div>
	<div class="facets active cf">
		<div class="row">
			<div class="pane base6">
				<div class="panel type cf">
					<h3>Type</h3>
						<a href="#" class="toggle bttn secondary start">All</a>
						<a href="#" class="toggle bttn secondary">Lifestyle</a>
						<a href="#" class="toggle bttn secondary end active">Products</a>
				</div>
				<div class="panel price cf">
					<h3>Price</h3>
					<div id="rangeSlider"></div>
					<input type="hidden" id="rangeSliderFrom" name="rangeSliderFrom" value="" />
					<input type="hidden" id="rangeSliderTo" name="rangeSliderTo" value="" />
				</div>
			</div>
			<div class="pane base6">
				<div class="panel themes cf">
					<div class="row">
						<h3>Themes</h3>
						<a href="#" class="bttn theme">For Her</a>
						<a href="#" class="bttn theme">For Him</a>
						<a href="#" class="bttn theme">For Kids</a>
						<a href="#" class="bttn theme">Kitchen</a>
						<a href="#" class="bttn theme">Sweets</a>
						<a href="#" class="bttn theme">For Mother</a>
						<a href="#" class="bttn theme active">Frozen</a>
						<a href="#" class="bttn theme">Glassware</a>
						<a href="#" class="bttn theme">Luxury</a>
						<a href="#" class="bttn theme">Novelty</a>
						<a href="#" class="bttn theme">Outside Gifts</a>
					</div>
						<div class="row">
							<a href="#" class="bttn reset">Reset Filters</a>
						</div>
				</div>
			</div>
		</div>
		<button class="close closeFilters" type="button" data-target-element=".facets">×</button>
	</div>
</div>