<div class="component infobox cf">
	<div class="img-wrapper" style="background-image:url('assets/img/structure/box5.jpg');"></div>
	<div class="wrapper-info">
		<div class="expand cf">
			<p class="title">1. Put 2 scoops of Heston from Waitrose Malted Milk & Marmalade Ice Cream into a tall glass. 2. Add 35ml Heston from Waitrose Cherry Bakewell Vodka and carefully top with Barr’s Originals Cream Soda with a Twist of Raspberry. 3. Stir and garnish with a cherry. Alternatively, serve straight from the fridge in small glasses, as a digestif.</p>
			<p class="price"></p>
			<button class="bttn" type="submit">
				<span class="icon icon_plus"></span>
				<span class="text">Add</span>
			</button>
		</div>
	</div>
</div>