<div class="component infobox hero cf">
	<div class="img-wrapper" style="background-image:url('assets/img/structure/hero.jpg');"></div>
	<div class="wrapper-info">
		<div class="expand cf">
			<div class="ellipsis">
				<div>
					<p class="title">Waitrose Herb Jars</p>
				</div>
			</div>
			<p class="price">£15</p>
			<button class="bttn add-more" type="submit">
				<span class="icon icon_plus"></span>
				<span class="text">Show Items</span>
			</button>
			<div id="add_more_popup" class="modal alternative fade toggle-mode add_more_popup" tabindex="-1" data-width="489" data-backdrop="static" data-keyboard="false" style="display: none;">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">&#215;</button>
			    <h3>Add more</h3>
			  </div>
			  	<div class="modal-body">
			  		<div class="row">
						<!--(bake /templates/components/_infobox.html)-->
						<!--(bake /templates/components/_infobox.html)-->
						<!--(bake /templates/components/_infobox.html)-->
						<!--(bake /templates/components/_infobox.html)-->
					</div>
				</div>
				<div class="modal-footer"></div>		
			</div>
		</div>
	</div>
</div>