<div class="component infobox cf">
	<div class="img-wrapper" style="background-image:url('assets/img/structure/box5.jpg');"></div>
	<div class="wrapper-info">
		<div class="expand cf">
			<div class="ellipsis">
				<div>
					<p class="title">For something extra special this year, visit the Waitrose Cookery School with your loved one to cook up a meal to remember. A Feast for Foodie Couples menu will be seared king scallops, then Chateaubriand steak with triple-cooked chips, and to finish – pear tarte tatin, with fizz and wine included, of course. Finchley Road, London: Friday 13 and Saturday 14 February, 5.45pm-9.45pm, £200 per couple. Salisbury, London: Friday 13 February, 4.45pm-8.45pm, £200 per couple.</p>
				</div>
			</div>
			<p class="price">£15</p>
			<button class="bttn wine" type="submit">
				<span class="glyphicons glyphicons-glass" aria-hidden="true"></span>
			</button>
			<button class="bttn" type="submit">
				<span class="icon icon_plus"></span>
				<span class="text">Add</span>
			</button>
		</div>
	</div>
</div>