<div class="component lightbox-item cf">
	<div class="img-wrapper">
		<img src="assets/img/structure/box5.jpg" alt="">
	</div>
	<div class="wrapper-info">
		<p class="title">
						For something extra special this year, visit the Waitrose Cookery School with your loved one to cook up a meal to remember. A Feast for Foodie Couples menu will be seared king scallops, then Chateaubriand steak with triple-cooked chips, and to finish – pear tarte tatin, with fizz and wine included, of course. Finchley Road, London: Friday 13 and Saturday 14 February, 5.45pm-9.45pm, £200 per couple. Salisbury, Wiltshire: Friday 13 February, 4.45pm-8.45pm, £200 per couple.</p>
		<!-- <p class="price">£15</p> -->
	</div>
	<div class="wrapper-actions">
		<a href="#" class="bttn remove">
			<span class="icon icon_close"></span>
			<span class="text">Remove</span>
		</a>
		<a href="#" class="bttn export export-dropdown">
			<span class="icon icon_cloud-download_alt"></span>
			<span class="text">Export</span>
		</a>
		<div class="export-buttons">
			<a href="#" class="bttn export-item">
				<span class="text">High-res</span>
			</a>
			<a href="#" class="bttn export-item">
				<span class="text">Low-res</span>
			</a>
			<a href="#" class="bttn export-item">
				<span class="text">Email</span>
			</a>
		</div>
	</div>
</div>