<div class="component lightbox-pagination top cf">
	<a href="#" class="bttn clear">
		<span class="text">Clear All</span>
	</a>
	<a href="#" class="bttn export">
		<span class="icon icon_cloud-download_alt"></span>
		<span class="text">Export All</span>
	</a>
	<div class="export-buttons">
		<a href="#" class="bttn export-item">
			<span class="text">High-res</span>
		</a>
		<a href="#" class="bttn export-item">
			<span class="text">Low-res</span>
		</a>
		<a href="#" class="bttn export-item">
			<span class="text">Email</span>
		</a>
	</div>
</div>