<div class="component lightbox-item cf">
	<div class="img-wrapper">
		<img src="assets/img/structure/box5.jpg" alt="">
	</div>
	<div class="wrapper-info">
		<p class="title">Waitrose Herb Jars</p>
		<p class="price">£15</p>
	</div>
	<div class="wrapper-actions">
		<a href="#" class="bttn remove">
			<span class="icon icon_close"></span>
			<span class="text">Remove</span>
		</a>
		<a href="#" class="bttn export export-dropdown">
			<span class="icon icon_cloud-download_alt"></span>
			<span class="text">Export</span>
		</a>
		<div class="export-buttons">
			<a href="#" class="bttn export-item">
				<span class="text">High-res</span>
			</a>
			<a href="#" class="bttn export-item">
				<span class="text">Low-res</span>
			</a>
			<a href="#" class="bttn export-item">
				<span class="text">Email</span>
			</a>
		</div>
	</div>
</div>