<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="wpp">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>
<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
<!-- 	<a href="#" class="toggle-grid-type">Toggle gutters</a> -->
</div>

<div class="wrapper">

	<!--(bake /templates/structure/header.html)-->

	<div class="main off-area">
    <a id="skipnav" tabindex="-1"></a>

    <div class="row">
			<div class="pane base12 component-header">

				<!-- START: COMPONENT DETAILS -->
				<h2>Component: Infobox</h2>

				<p><strong>Description:</strong> Infobox to show images and text.</p>
				<!-- END: COMPONENT DETAILS -->

			</div><!-- .pane -->
		</div>

    <div class="row">
      <div class="pane base12">
        <div class="component filters">
          <div class="view-toggles">
            <a href="#" class="toggle bttn secondary start icon_grid-2x2 view-grid active">&nbsp;</a>
            <a href="#" class="toggle bttn secondary end icon_grid-3x3 view-list">&nbsp;</a>
          </div>
        </div>
      </div>
    </div>
<h3>Standard</h3>
    <div class="row">
      
    	<div class="pane base3-4 ml12">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox.html)-->
    	</div>
      <div class="pane base3-4 ml12">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox.html)-->
      </div>
      <div class="pane base3-4 ml12">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox.html)-->
      </div>
      <div class="pane base3-4 ml12 tm-mgZero">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox.html)-->
      </div>
    </div>
<h3>Wine</h3>
    <div class="row">
      
      <div class="pane base3-4 ml12">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox-wine.html)-->
      </div>
      <div class="pane base3-4 ml12">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox-wine.html)-->
      </div>
      <div class="pane base3-4 ml12">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox-wine.html)-->
      </div>
      <div class="pane base3-4 ml12 tm-mgZero">
        <span class="base-desc">.base3</span>
        <!--(bake /templates/components/_infobox-wine.html)-->
      </div>
    </div>
<h3>Contact</h3>
    <div class="row">
      
      <div class="pane base4 ml12">
        <span class="base-desc">.base4</span>
        <!--(bake /templates/components/_infobox_contact.html)-->
      </div>
      <div class="pane base4 ml12">
        <span class="base-desc">.base4</span>
        <!--(bake /templates/components/_infobox_contact.html)-->
      </div>
      <div class="pane base4 ml12">
        <span class="base-desc">.base4</span>
        <!--(bake /templates/components/_infobox_contact.html)-->
      </div>
    </div>

	</div><!-- .main -->
	<div class="push"></div> <!-- For sticky footer -->
</div><!-- .wrapper -->

		<!--(bake /templates/structure/footer.html)-->

	</body>
</html>