
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="wpp xmas15">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>
<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
<!-- 	<a href="#" class="toggle-grid-type">Toggle gutters</a> -->
</div>

<div class="wrapper">

	<!--(bake /templates/structure/header-xmas.html)-->

		<div class="main off-area">
		    <a id="skipnav" tabindex="-1"></a>

        <div class="row">
					<div class="pane base12">
						<h2>
							Contact Us
						</h2>
					</div>
				</div><!-- .row -->

		    <div class="row">
		        <div class="pane base12">
		        	<p>For samples, queries or more information, please give us a call, drop us an email, or visit us online at <a href="http://www.waitrose.com/press" target="blank">waitrose.com/press</a></p>
		        	<br>
		        	<p>Prices and information are correct at time of publication (15.12.2014).</p>
		        	<br>
		        	<p>Please contact a member of the Communications Team before publication.</p>
		        </div>
		    </div><!-- .row -->

		    <div class="row">
		      <div class="pane base4 ml12">
		        <!--(bake /templates/components/_infobox_contact.html)-->
		      </div>
		      <div class="pane base4 ml12">
		        <!--(bake /templates/components/_infobox_contact.html)-->
		      </div>
		      <div class="pane base4 ml12">
		        <!--(bake /templates/components/_infobox_contact.html)-->
		      </div>
		    </div>
		    <div class="row">
					<p class="center">Built by <a href="http://www.rhapsodymedia.co.uk/" target="_blank">Rhapsody Ltd</a> &amp; designed by <a href="http://www.eyetoeyemedia.co.uk/" target="_blank">Eye to Eye Media</a></p>
			</div>
		</div><!-- .main -->
	<div class="push"></div> <!-- For sticky footer -->
</div><!-- .wrapper -->

	<!--(bake /templates/structure/footer-xmas.html)-->
	
    </body>
</html>