
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="wpp">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>
<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
<!-- 	<a href="#" class="toggle-grid-type">Toggle gutters</a> -->
</div>

<div class="wrapper">

	<!--(bake /templates/structure/header.html)-->

		<div class="main">
		    <a id="skipnav" tabindex="-1"></a>

		    <article class="v1">
				<div class="row">
					<div class="pane base12">

						<h2>Layout 1</h2>
						
					</div>
				</div><!-- .row -->
				
				<div class="row">
					<div class="pane base9">
						<div class="img-wrapper hero"><img src="assets/img/structure/hero.jpg" alt=""></div>
					</div>
					
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>	
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box3.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box4.jpg" alt=""></div>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box3.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box4.jpg" alt=""></div>
					</div>
				</div><!-- .row -->
			</article> <!-- end article 1 -->

		    <article class="v2">
				<div class="row">
					<div class="pane base12">

						<h2>Layout 2</h2>
						
					</div>
				</div><!-- .row -->
				
				<div class="row">
					<div class="pane base9">
						<div class="img-wrapper hero"><img src="assets/img/structure/hero.jpg" alt=""></div>
					</div>
					
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base6">
						<div class="pane base3">
							<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
						</div>
						<div class="pane base3">
							<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>
						</div>
						<div class="pane base3 dw-mgZero tp-mgZero ml-mgZero">
							<div class="img-wrapper"><img src="assets/img/structure/box3.jpg" alt=""></div>
						</div>
						<div class="pane base3">
							<div class="img-wrapper"><img src="assets/img/structure/box4.jpg" alt=""></div>
						</div>
					</div>
					<div class="pane base6">
						<div class="img-wrapper box-large"><img src="assets/img/structure/box5.jpg" alt=""></div>
					</div>
				</div><!-- .row -->
			</article> <!-- end article 2 -->

			<article class="v3">
				<div class="row">
					<div class="pane base12">

						<h2>Layout 3</h2>
						
					</div>
				</div><!-- .row -->
				
				<div class="row">
					<div class="pane base9">
						<div class="img-wrapper hero"><img src="assets/img/structure/hero.jpg" alt=""></div>
					</div>
					
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>	
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base3">
						<div class="pane base3">
							<div class="img-wrapper"><img src="assets/img/structure/box3.jpg" alt=""></div>
						</div>
						<div class="pane base3 dw-mgZero tp-mgZero ml-mgZero">
							<div class="img-wrapper"><img src="assets/img/structure/box4.jpg" alt=""></div>
						</div>
					</div>
					<div class="pane base9">
						<div class="img-wrapper hero"><img src="assets/img/structure/hero2.jpg" alt=""></div>
					</div>
				</div><!-- .row -->
			</article> <!-- end article 3 -->

			<article class="v4">
				<div class="row">
					<div class="pane base12">

						<h2>Layout 4</h2>
						
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box3.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box4.jpg" alt=""></div>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base3 mgBtZero">
						<div class="pane base3">
							<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
						</div>
						<div class="pane base3 dw-mgZero tp-mgZero ml-mgZero">
							<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>
						</div>
					</div>
					<div class="pane base9 mgBtZero">
						<div class="img-wrapper hero"><img src="assets/img/structure/hero.jpg" alt=""></div>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box3.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box4.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box1.jpg" alt=""></div>
					</div>
					<div class="pane base3">
						<div class="img-wrapper"><img src="assets/img/structure/box2.jpg" alt=""></div>
					</div>
				</div><!-- .row -->

			</article> <!-- end article 4 -->

			<article class="v5">
				<div class="row">
					<div class="pane base12">

						<h2>Layout 5</h2>
						
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="pane base4 tp6 ml6 mp12">
						<div class="component info cf">
							<div class="pane base2 tp2 ml2">
								<div class="img-wrapper info"><img src="assets/img/structure/box6.jpg" alt=""></div>
							</div>
							<div class="pane base2 tp4 ml4">
								<p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit</p>
							</div>
						</div> <!-- end info -->
					</div>

					<div class="pane base4 tp6 ml6 mp12 mp-mgZero">
						<div class="component info cf">
							<div class="pane base2 tp2 ml2">
								<div class="img-wrapper info"><img src="assets/img/structure/box6.jpg" alt=""></div>
							</div>
							<div class="pane base2 tp4 ml4">
								<p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit</p>
							</div>
						</div> <!-- end info -->
					</div>

					<div class="pane base4 tp6 tp-mgZero ml6 ml-mgZero mp12">
						<div class="component info cf">
							<div class="pane base2 tp2 ml2">
								<div class="img-wrapper info"><img src="assets/img/structure/box6.jpg" alt=""></div>
							</div>
							<div class="pane base2 tp4 ml4">
								<p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit</p>
							</div>
						</div> <!-- end info -->
					</div>
				
				</div>
			</article> <!-- end article 5 -->
			
		</div><!-- .main -->
	<div class="push"></div> <!-- For sticky footer -->
</div><!-- .wrapper -->

	<!--(bake /templates/structure/footer.html)-->

    </body>
</html>