@charset "CP850";

html {
    overflow-y: scroll;
    font-size: 62.5%
}

.ie7 html,.ie8 html {
    font-size: 10px
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,label,input,select,blockquote,fieldset,legend,form {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video,picture {
    display: block
}

iframe {
    border: 0 solid transparent
}

.bold {
    font-weight: bold
}

em {
    font-family: 'WaitroseHandscript';
}

span.hiddentext,h1.hiddentext {
    position: absolute;
    left: -9999px
}

.cf,.rwd .row .pane,.main {
    zoom: 1
}

.cf:before,.rwd .row .pane:before,.cf:after,.rwd .row .pane:after,.main:before,.main:after {
    content: "";
    display: table
}

.cf:after,.rwd .row .pane:after,.main:after {
    clear: both
}

.ltie8 .cf,.ltie8 .rwd .row .pane,.rwd .row .ltie8 .pane {
    zoom: 1
}

body {
    font-size: 100%;
    font-family: 'WaitroseRegular', Arial, Verdana;
    text-align: left;
    color: #4b4b4b;
    background: #fff;
    letter-spacing: 0
}

a {
    text-decoration: none;
    color: #0b70e4
}

a:hover,a:focus,a:active {
    text-decoration: underline
}

a:focus,a:active {
    outline: none
}

a img {
    border: 0
}

a:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

img {
    border: none;
    max-width: 100%;
    display: block
}

h1,h2,h3,h4 {
    font-weight: normal;
    font-family: 'WaitroseRegular';  
}

h1 {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 36px;
    line-height: 3.6rem;
}

h2 {
    font-size: 26px;
    font-size: 2.6rem;
    padding: 10px 0 10px;
    margin: 0
}

h3 {
    font-size: 22px;
    font-size: 2.2rem;
    text-transform: uppercase;
    padding: 10px 0 10px;
    margin: 0
}

h4 {
    font-size: 15px;
    font-size: 1.5rem;
    padding: 10px 0 10px
}

p {
    line-height: 22px;
    line-height: 2.2rem;
    font-size: 15px;
    font-size: 1.5rem;
    padding: 0 0 8px 0;
    padding: 0 0 0.8rem 0
}

ul {
    list-style-type: none
}

ul li,ol li {
    font-size: 15px;
    font-size: 1.5rem;
    margin: 0;
    padding: 0 0 9px 0;
    padding: 0 0 0.9rem 0
}

.actions {
    position: absolute;
    top: 0;
    left: 0;
}

.skip {
    position: absolute;
    left: -999em
}

a.skip:active,a.skip:focus {
    top: 0;
    left: 0;
    color: #fff;
    background: #01a7e3;
    font-size: 1.1em;
    display: block;
    padding: 0.4em;
    border: 0.1em solid #fff;
    white-space: nowrap;
    width: 14em;
    text-align: center;
    font-weight: bold
}

footer {
    width: 100%;
    padding: 20px 0 30px 0;
    margin: 0 auto;
    background-color: #f4f4f4;
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}

footer .row {
    padding-bottom: 0
}

footer .component {
    padding: 20px
}

@media all and (max-width: 767px) {
    .wrapper>footer {
        padding:29px 0 33px
    }

    .gutterless .wrapper>footer {
        padding: 29px 0 33px
    }
}

header {
    width: 100%;
    background-color: #85d7db;
    box-sizing: border-box;

    a {
      color: #fff;
      text-decoration: none;

      &:hover, &:focus, &:active {
        color: #fdb813;
        text-decoration: none;
      }
    }
}

header:before, header:after {
    content: "";
    display: table
}

header:after {
    clear: both
}

.wrapper-header {
    width: 896px;
    margin: 34px auto 50px;
    color: #fff;    

    h1 {
      float: left;

        span {
            font-family: 'WaitroseLogofont';
        }
        em {
          font-size: 41px;
          font-size: 4.1rem;
        }
    }

    .header-actions {
      float: right;
      font-family: 'WaitroseBold';
      font-size: 20px;
      font-size: 2rem;
      line-height: 22px;
      line-height: 2.2rem;
    }

    .header-actions-secondary {
      font-family: 'WaitroseRegular';
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 18px;
      line-height: 1.8rem;
      margin-top: 15px;
      text-align: right;
    }

    .border {
      padding-right: 13px;
      margin-right: 9px;
      border-right: 2px solid #fff;
    }
}

nav {
  width: 896px;
  margin: 0 auto;
  color: #fff;

  ul {
    float: left;

    li {
      float: left;
      margin: 0;
      padding: 0;
      min-width: 164px;
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 18px;
      line-height: 1.8rem;

      a {
        display: block;
        text-align: center;
        padding: 14px 22px;
        background-color: #e46285;
        
        &.second {
          background-color: #efb4ca;
        }
        
        &.third {
          background-color: #fdb813;
        }

        &:hover, &:focus, &:active {
          color: #fff;
          text-decoration: underline;
        }

        span {
          position: relative;
          padding: 0 23px 0 0;

            &:before {
              position: absolute;
              right: 0;
            }
        }
      }
    }
  }
  .search {
    float: right;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    line-height: 1.8rem;
    margin: 15px 0 0 0;

    a {

      span {
        position: relative;
        padding: 0 32px 0 0;

        &:before {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

