fieldset {
    margin: 10px 0 20px 0;
    padding: 10px;
    border: 1px solid #666
}

fieldset legend {
    margin: 0;
    padding: 5px;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #666;
    background-color: #fff
}

.field-row {
    float: none;
    overflow: hidden;
    width: 100%
}

.field-row.with-help-text {
    display: inline-block;
    width: auto;
    position: relative;
    overflow: visible
}

.field-row>span.label,.field-row>label {
    font-weight: normal;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 22px;
    line-height: 2.2rem
}

fieldset>.field-row>span.label,fieldset>.field-row>label {
    font-weight: bold
}

input[type="checkbox"],input[type="radio"] {
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer
}

input[type="file"],select {
    cursor: pointer
}

input:hover,input:focus,input:active,input[type="text"]:hover,input[type="text"]:focus,input[type="text"]:active,input[type="password"]:hover,input[type="password"]:focus,input[type="password"]:active,input[type="file"]:hover,input[type="file"]:focus,input[type="file"]:active,input[type="email"]:hover,input[type="email"]:focus,input[type="email"]:active,textarea:hover,textarea:focus,textarea:active {
    background: #F3F3F3
}

select:hover,select:focus,select:active {
    background: #F3F3F3
}

.fields-floated .field-row {
    float: none;
    overflow: hidden;
    width: 100%;
    padding-bottom: 10px
}

.fields-floated .field-row.with-help-text {
    display: inline-block;
    width: auto;
    position: relative;
    overflow: visible
}

.fields-floated .field-row>label,.fields-floated .field-row>span.label {
    float: left;
    width: 100px;
    margin-right: 10px
}

.fields-floated>.field-row>select,.fields-floated>.field-row>input,.fields-floated>.field-row>textarea {
    float: left;
    width: 200px
}

.fields-floated .field-row>.fields-checkbox-radio {
    float: left;
    padding-left: 0
}

.fields-stacked .field-row {
    padding-bottom: 10px;
    overflow: hidden
}

.fields-stacked .field-row>label,.fields-stacked .field-row>span.label {
    display: block;
    margin-bottom: 10px
}

.fields-stacked>.field-row>select,.fields-stacked>.field-row>input,.fields-stacked>.field-row>textarea {
    display: block;
    width: 200px
}

.fields-checkbox-radio>.field-row>label,.fields-checkbox-radio>.field-row>span.label {
    float: left;
    margin-right: 15px;
    padding: 0 10px 10px
}

.fields-checkbox-radio>.field-row>input[type="checkbox"],.fields-checkbox-radio>.field-row>input[type="radio"] {
    float: left;
    margin: 1px 5px 0px 1px
}

.fields-floated .field-row .submit-btn,.fields-stacked .field-row .submit-btn {
    float: left;
    width: 150px;
    padding: 2px 0;
    margin: 0;
    border: none;
    outline: none;
    overflow: visible;
    color: #000;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: Arial, Verdana;
    font-weight: normal;
    text-align: center;
    background-color: #f6f6f6;
    cursor: pointer;
    border: 1px solid #ccc
}

.field-row .submit-btn:hover,.field-row .submit-btn:focus,.field-row .submit-btn:active {
    color: #fff;
    background-color: #333;
    text-decoration: none
}

.fields-checkbox-radio>.field-row>input[type="radio"]:hover,input[type="radio"]:focus,input[type="radio"]:active,.fields-checkbox-radio>.field-row>input[type="checkbox"]:hover,input[type="checkbox"]:focus,input[type="checkbox"]:active {
    outline-color: #666766;
    outline-style: solid;
    outline-width: 1px
}

.error-select {
    display: block;
    border: 1px solid red;
    float: left
}

.error-select span {
    background-color: #f3f3f3 !important
}

div.error-message {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #000000;
    color: #000000;
    margin-bottom: 1.5em;
    padding: 0.8em
}

div.error-message ul {
    list-style-type: square;
    margin-bottom: 10px;
    padding: 10px 10px 10px 20px
}

div.error-message ul li {
    margin-bottom: 0
}

input.error,.form-uniform.standard .uniform-text.error,.form-uniform.standard .uniform-checkbox {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid red
}

input.error:hover,input.error:focus,input.error:active,.form-uniform.standard .uniform-text.error:hover,.form-uniform.standard .uniform-text.error:focus,.form-uniform.standard .uniform-text.error:active,.form-uniform.standard .uniform-checkbox:hover,.form-uniform.standard .uniform-checkbox:focus,.form-uniform.standard .uniform-checkbox:active {
    border: 1px solid red
}

textarea.error {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid red
}

.error-text {
    margin: 0;
    color: red;
    font-size: 12px;
    font-size: 1.2rem;
    float: left;
    width: 100%
}

.fields-floated .error-text {
    margin-left: 110px
}

@media all and (max-width: 1430px) {
    .fields-floated textarea.error+.error-text {
        margin-left:0
    }
}

@media all and (max-width: 1023px) {
    .fields-floated textarea.error+.error-text {
        margin-left:110px
    }
}

@media all and (max-width: 767px) {
    .fields-floated textarea.error+.error-text {
        margin-left:0
    }

    textarea {
        width: 94%
    }
}