.frameworkless {
    background: url("/assets/img/grids/grid-896.png") 50% 0 repeat-y
}

.frameworkless.gutterless {
    background: url("/assets/img/grids/grid-1392-gutterless.png") 50% 0 repeat-y
}

.base-desc {
    font-family: Arial;
    font-size: 11px;
    font-size: 1.1rem;
}

// @media all and (max-width: 1900px) {
//     .framework {
//         background:url("/assets/img/grids/grid-1396.png") 50% 0 repeat-y
//     }

//     .framework.gutterless {
//         background: url("/assets/img/grids/grid-1392-gutterless.png") 50% 0 repeat-y
//     }
// }

@media all and (max-width: 1430px) {
    .frameworkless {
        background:url("/assets/img/grids/grid-896.png") 50% 0 repeat-y
    }

    .framework.gutterless {
        background: url("/assets/img/grids/grid-896.png") 50% 0 repeat-y
    }
}

@media all and (max-width: 1023px) {
    .frameworkless {
        background:url("/assets/img/grids/grid-748.png") 50% 0 repeat-y
    }

    .frameworkless.gutterless {
        background: url("/assets/img/grids/grid-744-gutterless.png") 50% 0 repeat-y
    }
}

@media all and (max-width: 767px) {
    .frameworkless {
        background:url("/assets/img/grids/grid-300-12.png") 50% 0 repeat-y;
        background-size: 100%
    }

    .frameworkless.gutterless {
        background: url("/assets/img/grids/grid-300-12-gutterless.png") 50% 0 repeat-y;
        background-size: 100%
    }
}

@media all and (max-width: 480px) {
    .frameworkless {
        background:url("/assets/img/grids/grid-300-12.png") 0 0 repeat-y;
        width: 100%;
        background-size: 100%
    }

    .frameworkless.gutterless {
        background: url("/assets/img/grids/grid-300-12-gutterless.png") 0 0 repeat-y;
        width: 100%;
        background-size: 100%
    }
}