// .main {
//   width: 1852px;
//   margin: auto;
// }
// body.gutterless .main {
//   width: 1848px;
//   margin: auto;
// }

//for variable width panes e.g. switching different view modes
.grid-gutter { width: 16px;}
@for $i from 1 through 11 {
  .pane.base#{$i}-#{$i + 1} { @extend .base#{$i}; }
  .pane.base9-#{$i} { @extend .base9; }
  .pane.base6-#{$i} { @extend .base6; }
}

.toggle-mode {

  .row .pane {
    &.tm-mgZero {
      margin-left: 0;
    }
  }

  @for $i from 1 through 11 {
    .pane.base#{$i}-#{$i + 1} { @extend .base#{$i + 1}; }
    .pane.base9-#{$i} { @extend .base#{$i}; }
    .pane.base6-#{$i} { @extend .base#{$i}; }
  }

}

@media (max-width: 1023px) {
  .grid-gutter { width: 20px;}
}

@media (max-width: 767px) {
  .grid-gutter { width: 4%;}
  .toggle-mode {
    @for $i from 1 through 11 {
      .pane.base#{$i}-#{$i + 1}.ml12 { width: 100%; margin-left:0; }
    }

  }
}

.row {
  width: 100%;
  float: left;
  padding-bottom: 20px;
  .pane {
    display: block;
    float: left;
    margin-left: 16px;
    &.dw-mgZero {
      margin-left: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .gutterless .pane {
    margin-left: 20px;
  }
}
.pane {
  // &.base1 {
  //   width: 136px;
  // }
  // &.base2 {
  //   width: 292px;
  // }
  // &.base3 {
  //   width: 448px;
  // }
  // &.base4 {
  //   width: 604px;
  // }
  // &.base5 {
  //   width: 760px;
  // }
  // &.base6 {
  //   width: 916px;
  // }
  // &.base7 {
  //   width: 1072px;
  // }
  // &.base8 {
  //   width: 1228px;
  // }
  // &.base9 {
  //   width: 1384px;
  // }
  // &.base10 {
  //   width: 1540px;
  // }
  // &.base11 {
  //   width: 1696px;
  // }
  // &.base12 {
  //   width: 1852px;
  // }
  // &.base0 {
  //   width: 0;
  //   display: none;
  // }
//   &.dw1 {
//     width: 136px;
//   }
//   &.dw2 {
//     width: 292px;
//   }
//   &.dw3 {
//     width: 448px;
//   }
//   &.dw4 {
//     width: 604px;
//   }
//   &.dw5 {
//     width: 760px;
//   }
//   &.dw6 {
//     width: 916px;
//   }
//   &.dw7 {
//     width: 1072px;
//   }
//   &.dw8 {
//     width: 1228px;
//   }
//   &.dw9 {
//     width: 1384px;
//   }
//   &.dw10 {
//     width: 1540px;
//   }
//   &.dw11 {
//     width: 1696px;
//   }
//   &.dw12 {
//     width: 1852px;
//   }
//   &.dw0 {
//     width: 0;
//     display: none;
//   }
// }
// .gutterless {
//   .pane {
//     &.base1 {
//       width: 154px;
//     }
//     &.base2 {
//       width: 308px;
//     }
//     &.base3 {
//       width: 462px;
//     }
//     &.base4 {
//       width: 616px;
//     }
//     &.base5 {
//       width: 770px;
//     }
//     &.base6 {
//       width: 924px;
//     }
//     &.base7 {
//       width: 1078px;
//     }
//     &.base8 {
//       width: 1232px;
//     }
//     &.base9 {
//       width: 1386px;
//     }
//     &.base10 {
//       width: 1540px;
//     }
//     &.base11 {
//       width: 1694px;
//     }
//     &.base12 {
//       width: 1848px;
//     }
//     &.base0 {
//       width: 0;
//       display: none;
//     }
//     &.dw1 {
//       width: 154px;
//     }
//     &.dw2 {
//       width: 308px;
//     }
//     &.dw3 {
//       width: 462px;
//     }
//     &.dw4 {
//       width: 616px;
//     }
//     &.dw5 {
//       width: 770px;
//     }
//     &.dw6 {
//       width: 924px;
//     }
//     &.dw7 {
//       width: 1078px;
//     }
//     &.dw8 {
//       width: 1232px;
//     }
//     &.dw9 {
//       width: 1386px;
//     }
//     &.dw10 {
//       width: 1540px;
//     }
//     &.dw11 {
//       width: 1694px;
//     }
//     &.dw12 {
//       width: 1848px;
//     }
//     &.dw0 {
//       width: 0;
//       display: none;
//     }
//   }
  .row .pane {
    display: block;
    float: left;
    //margin: 0;
  }
}

  .wrapper {
    min-height: 100%;
    margin: 0 auto -63px; /* the bottom margin is the negative value of the footer's height */
  }

  .push {
    height: 63px; /* .push must be the same height as .footer */
  }

  .main {
    width: 896px;
    margin: auto;    
  }

  .row {
    .pane.dw-mgZero {
      margin-left: 0;
    }
    .gutterless .pane {
      margin-left: 20px;
    }
  }
  .pane {
    &.base1 {
      width: 60px;
    }
    &.base2 {
      width: 136px;
    }
    &.base3 {
      width: 212px;
    }
    &.base4 {
      width: 288px;
    }
    &.base5 {
      width: 364px;
    }
    &.base6 {
      width: 440px;
    }
    &.base7 {
      width: 516px;
    }
    &.base8 {
      width: 592px;
    }
    &.base9 {
      width: 668px;
    }
    &.base10 {
      width: 744px;
    }
    &.base11 {
      width: 820px;
    }
    &.base12 {
      width: 896px;
    }
    &.base0 {
      width: 0;
      display: none;
    }

    &.ds1 {
      width: 60px;
    }
    &.ds2 {
      width: 136px;
    }
    &.ds3 {
      width: 212px;
    }
    &.ds4 {
      width: 288px;
    }
    &.ds5 {
      width: 364px;
    }
    &.ds6 {
      width: 440px;
    }
    &.ds7 {
      width: 516px;
    }
    &.ds8 {
      width: 592px;
    }
    &.ds9 {
      width: 668px;
    }
    &.ds10 {
      width: 744px;
    }
    &.ds11 {
      width: 820px;
    }
    &.ds12 {
      width: 896px;
    }
    &.ds0 {
      width: 0;
      display: none;
    }
  }
  body.gutterless .main {
    width: 1392px;
    margin: auto;
  }
  .gutterless .pane {
    &.base1 {
      width: 116px;
    }
    &.base2 {
      width: 232px;
    }
    &.base3 {
      width: 348px;
    }
    &.base4 {
      width: 464px;
    }
    &.base5 {
      width: 580px;
    }
    &.base6 {
      width: 696px;
    }
    &.base7 {
      width: 812px;
    }
    &.base8 {
      width: 928px;
    }
    &.base9 {
      width: 1044px;
    }
    &.base10 {
      width: 1160px;
    }
    &.base11 {
      width: 1276px;
    }
    &.base12 {
      width: 1392px;
    }
    &.base0 {
      width: 0;
      display: none;
    }
  }
@media all and(max-width: 1430px) {
  .main {
    width: 896px;
    margin: auto;
  }
  .row {
    .pane.dw-mgZero {
      margin-left: 0;
    }
    .gutterless .pane {
      margin-left: 20px;
    }
  }
  .gutterless {
    .pane {
      &.base1 {
        width: 81px;
      }
      &.base2 {
        width: 162px;
      }
      &.base3 {
        width: 243px;
      }
      &.base4 {
        width: 324px;
      }
      &.base5 {
        width: 405px;
      }
      &.base6 {
        width: 486px;
      }
      &.base7 {
        width: 567px;
      }
      &.base8 {
        width: 648px;
      }
      &.base9 {
        width: 729px;
      }
      &.base10 {
        width: 810px;
      }
      &.base11 {
        width: 891px;
      }
      &.base12 {
        width: 972px;
      }
      &.base0 {
        width: 0;
        display: none;
      }
    }
    .row .pane.dw-mgZero {
      margin-left: 0;
    }
  }
  .pane {
    &.base1 {
      width: 60px;
    }
    &.base2 {
      width: 136px;
    }
    &.base3 {
      width: 212px;
    }
    &.base4 {
      width: 288px;
    }
    &.base5 {
      width: 364px;
    }
    &.base6 {
      width: 440px;
    }
    &.base7 {
      width: 516px;
    }
    &.base8 {
      width: 592px;
    }
    &.base9 {
      width: 668px;
    }
    &.base10 {
      width: 744px;
    }
    &.base11 {
      width: 820px;
    }
    &.base12 {
      width: 896px;
    }
    &.base0 {
      width: 0;
      display: none;
    }
    &.dc1 {
      width: 60px;
    }
    &.dc2 {
      width: 136px;
    }
    &.dc3 {
      width: 212px;
    }
    &.dc4 {
      width: 288px;
    }
    &.dc5 {
      width: 364px;
    }
    &.dc6 {
      width: 440px;
    }
    &.dc7 {
      width: 516px;
    }
    &.dc8 {
      width: 592px;
    }
    &.dc9 {
      width: 668px;
    }
    &.dc10 {
      width: 744px;
    }
    &.dc11 {
      width: 820px;
    }
    &.dc12 {
      width: 896px;
    }
    &.dc0 {
      width: 0;
      display: none;
    }
  }
  body.gutterless .main {
    width: 972px;
    margin: auto;
  }
}
@media all and(max-width: 1023px) {
  .main {
    width: 748px;
    margin: auto;
  }
  .row {
    .pane {
      margin-left: 20px;
      &.dw-mgZero {
        margin-left: 20px;
      }
      &.tp-mgZero {
        margin-left: 0;
      }
    }
    .gutterless .pane {
      margin-left: 20px;
    }
  }
  .gutterless {
    .pane {
      &.base1 {
        width: 62px;
      }
      &.base2 {
        width: 124px;
      }
      &.base3 {
        width: 186px;
      }
      &.base4 {
        width: 248px;
      }
      &.base5 {
        width: 310px;
      }
      &.base6 {
        width: 372px;
      }
      &.base7 {
        width: 434px;
      }
      &.base8 {
        width: 496px;
      }
      &.base9 {
        width: 558px;
      }
      &.base10 {
        width: 620px;
      }
      &.base11 {
        width: 682px;
      }
      &.base12 {
        width: 744px;
      }
      &.base0 {
        width: 0;
        display: none;
      }
      &.tp1 {
        width: 62px;
      }
      &.tp2 {
        width: 124px;
      }
      &.tp3 {
        width: 186px;
      }
      &.tp4 {
        width: 248px;
      }
      &.tp5 {
        width: 310px;
      }
      &.tp6 {
        width: 372px;
      }
      &.tp7 {
        width: 434px;
      }
      &.tp8 {
        width: 496px;
      }
      &.tp9 {
        width: 558px;
      }
      &.tp10 {
        width: 620px;
      }
      &.tp11 {
        width: 682px;
      }
      &.tp12 {
        width: 744px;
      }
      &.tp0 {
        width: 0;
        display: none;
      }
    }
    .row .pane {
      &.dw-mgZero {
        margin-left: 0;
      }
      &.tp-mgZero {
        margin-left: 0;
      }
    }
  }
  .pane {
    &.base1 {
      width: 44px;
    }
    &.base2 {
      width: 108px;
    }
    &.base3 {
      width: 172px;
    }
    &.base4 {
      width: 236px;
    }
    &.base5 {
      width: 300px;
    }
    &.base6 {
      width: 364px;
    }
    &.base7 {
      width: 428px;
    }
    &.base8 {
      width: 492px;
    }
    &.base9 {
      width: 556px;
    }
    &.base10 {
      width: 620px;
    }
    &.base11 {
      width: 684px;
    }
    &.base12 {
      width: 748px;
    }
    &.base0 {
      width: 0;
      display: none;
    }
    &.tp1 {
      width: 44px;
    }
    &.tp2 {
      width: 108px;
    }
    &.tp3 {
      width: 172px;
    }
    &.tp4 {
      width: 236px;
    }
    &.tp5 {
      width: 300px;
    }
    &.tp6 {
      width: 364px;
    }
    &.tp7 {
      width: 428px;
    }
    &.tp8 {
      width: 492px;
    }
    &.tp9 {
      width: 556px;
    }
    &.tp10 {
      width: 620px;
    }
    &.tp11 {
      width: 684px;
    }
    &.tp12 {
      width: 748px;
    }
    &.tp0 {
      width: 0;
      display: none;
    }
  }
  body.gutterless .main {
    width: 744px;
    margin: auto;
  }
}
@media all and(max-width: 767px) {
  .main {
    width: 93.6%;
    margin: 0 3.2%;
  }
    .pane, .toggle-mode .row .pane {
      &.ml12 {
        width: 100%;
        float: left;
        margin-left: 0!important;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml11 {
        width: 91.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml10 {
        width: 82.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml9 {
        width: 74%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml8 {
        width: 65.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml7 {
        width: 56.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml6 {
        width: 48%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml5 {
        width: 39.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml4 {
        width: 30.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml3 {
        width: 22%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml2 {
        width: 13.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml1 {
        width: 4.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml0 {
        width: 0;
        display: none;
      }
    }
    .row .pane {
      margin-left: 0;
      &.dw-mgZero {
        margin-left: 0;
      }
      &.tp-mgZero {
        margin-left: 0;
      }
      &.ml-mgZero {
        margin-left: 0;
      }
      &:last-child {
        float: right;
      }
    }

    .gutterless .pane {

      &.ml12 {
        width: 100%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml11 {
        width: 91.66%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml10 {
        width: 83.33%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml9 {
        width: 75%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml8 {
        width: 66.66%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml7 {
        width: 58.33%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml6 {
        width: 50%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml5 {
        width: 41.66%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml4 {
        width: 33.33%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml3 {
        width: 25%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml2 {
        width: 16.66%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml1 {
        width: 8.33%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.ml0 {
        width: 0;
        display: none;
      }
    }

  .pane {
    &.base12 {
      width: 100%;
      .pane {
        margin-left: 4%;
        &.base10 {
          width: 83%;
        }
        &.base9 {
          width: 74%;
        }
        &.base8 {
          width: 65%;
        }
        &.base7 {
          width: 57%;
        }
        &.base6 {
          width: 48%;
        }
        &.base5 {
          width: 39%;
        }
        &.base4 {
          width: 31%;
        }
        &.base3 {
          width: 22%;
        }
        &.base2 {
          width: 13%;
        }
      }
    }
    &.base11 {
      width: 91.33%;
    }
    &.base10 {
      width: 82.66%;
      .pane {
        margin-left: 5%;
        &.base8 {
          width: 79%;
        }
        &.base7 {
          width: 68%;
        }
        &.base6 {
          width: 58%;
        }
        &.base5 {
          width: 47.5%;
        }
        &.base4 {
          width: 37%;
        }
        &.base3 {
          width: 27%;
        }
        &.base2 {
          width: 16%;
        }
      }
    }
    &.base9 {
      width: 74%;
      .pane {
        margin-left: 6%;
        &.base7 {
          width: 76%;
        }
        &.base6 {
          width: 64.5%;
        }
        &.base5 {
          width: 53%;
        }
        &.base4 {
          width: 41%;
        }
        &.base3 {
          width: 29.5%;
        }
        &.base2 {
          width: 18%;
        }
      }
    }
    &.base8 {
      width: 65.33%;
      .pane {
        margin-left: 6%;
        &.base6 {
          width: 74%;
        }
        &.base5 {
          width: 60%;
        }
        &.base4 {
          width: 47%;
        }
        &.base3 {
          width: 34%;
        }
        &.base2 {
          width: 20%;
        }
      }
    }
    &.base7 {
      width: 56.66%;
      .pane {
        margin-left: 8%;
        &.base5 {
          width: 69%;
        }
        &.base4 {
          width: 54%;
        }
        &.base3 {
          width: 38%;
        }
        &.base2 {
          width: 23%;
        }
      }
    }
    &.base6 {
      width: 48%;
      .pane {
        margin-left: 8%;
        &.base4 {
          width: 64%;
        }
        &.base3 {
          width: 46%;
        }
        &.base2 {
          width: 28%;
        }
      }
    }
    &.base5 {
      width: 39.33%;
      .pane {
        margin-left: 10%;
        &.base3 {
          width: 56%;
        }
        &.base2 {
          width: 34%;
        }
      }
    }
    &.base4 {
      width: 30.66%;
      .pane {
        margin-left: 13%;
        &.base2 {
          width: 43.5%;
        }
      }
    }
    &.base3 {
      width: 22%;
      .pane {
        &.base3 { width: 100%; }
      }
    }
    &.base2 {
      width: 13.33%;
    }
    &.base1 {
      width: 4.66%;
    }
    &.ml12 {
      width: 100%;
      .pane {
        margin-left: 4%;
        &.base6 {
          width: 48%;
        }
        &.ml6 {
          width: 48%;
        }
        &.base12 {
          width: 100%;
        }
        &.ml12 {
          width: 100%;
        }
        &.base8 {
          width: 48%;
        }
        &.ml8 {
          width: 48%;
        }
      }
    }
    &.ml11 {
      width: 91.33%;
    }
    &.ml10 {
      width: 82.66%;
    }
    &.ml9 {
      width: 74%;
    }
    &.ml8 {
      width: 65.33%;
    }
    &.ml7 {
      width: 56.66%;
    }
    &.ml6 {
      width: 48%;
    }
    &.ml5 {
      width: 39.33%;
    }
    &.ml4 {
      width: 30.66%;
    }
    &.ml3 {
      width: 22%;
    }
    &.ml2 {
      width: 13.33%;
    }
    &.ml1 {
      width: 4.66%;
    }
    &.ml0 {
      width: 0;
      display: none;
    }
    &.ml-mgZero .pane.ml12 {
      width: 100%;
      margin-left: 0;
    }
  }
  .gutterless {
    .row {
      .gutterless .pane {
        margin-left: 0;
        &.mg {
          margin-left: 0;
        }
        &.mgZero {
          margin-left: 0;
        }
      }
      .pane .pane:first-child {
        margin-left: 0;
      }
    }
    .pane {
      &.base12 {
        width: 100%;
        .pane {
          margin-left: 0;
          &.base10 {
            width: 83%;
          }
          &.base9 {
            width: 75%;
          }
          &.base8 {
            width: 66.66%;
          }
          &.base7 {
            width: 58%;
          }
          &.base6 {
            width: 50%;
          }
          &.base5 {
            width: 42%;
          }
          &.base4 {
            width: 33.33%;
          }
          &.base3 {
            width: 25%;
          }
          &.base2 {
            width: 17%;
          }
        }
      }
      &.base11 {
        width: 91.66%;
      }
      &.base10 {
        width: 83.33%;
        .pane {
          margin-left: 0;
          &.base8 {
            width: 80%;
          }
          &.base7 {
            width: 70%;
          }
          &.base6 {
            width: 60%;
          }
          &.base5 {
            width: 50%;
          }
          &.base4 {
            width: 40%;
          }
          &.base3 {
            width: 30%;
          }
          &.base2 {
            width: 20%;
          }
        }
      }
      &.base9 {
        width: 75%;
        .pane {
          margin-left: 0;
          &.base7 {
            width: 78%;
          }
          &.base6 {
            width: 66.66%;
          }
          &.base5 {
            width: 55%;
          }
          &.base4 {
            width: 45%;
          }
          &.base3 {
            width: 33.33%;
          }
          &.base2 {
            width: 22%;
          }
        }
      }
      &.base8 {
        width: 66.66%;
        .pane {
          margin-left: 0;
          &.base6 {
            width: 75%;
          }
          &.base5 {
            width: 62%;
          }
          &.base4 {
            width: 50%;
          }
          &.base3 {
            width: 38%;
          }
          &.base2 {
            width: 25%;
          }
        }
      }
      &.base7 {
        width: 58.33%;
        .pane {
          margin-left: 0;
          &.base5 {
            width: 71%;
          }
          &.base4 {
            width: 57%;
          }
          &.base3 {
            width: 43%;
          }
          &.base2 {
            width: 29%;
          }
        }
      }
      &.base6 {
        width: 50%;
        .pane {
          margin-left: 0;
          &.base4 {
            width: 67%;
          }
          &.base3 {
            width: 50%;
          }
          &.base2 {
            width: 33%;
          }
        }
      }
      &.base5 {
        width: 41.66%;
        .pane {
          margin-left: 0;
          &.base3 {
            width: 60%;
          }
          &.base2 {
            width: 40%;
          }
        }
      }
      &.base4 {
        width: 33.33%;
        .pane {
          margin-left: 0;
          &.base2 {
            width: 50%;
          }
        }
      }
      &.base3 {
        width: 25%;
      }
      &.base2 {
        width: 16.66%;
      }
      &.base1 {
        width: 8.33%;
      }
      &.ml12 {
        width: 100%;
        .pane {
          margin-left: 0;
          &.base6 {
            width: 50%;
          }
          &.ml6 {
            width: 50%;
          }
          &.base12 {
            width: 100%;
          }
          &.ml12 {
            width: 100%;
          }
        }
      }
      &.ml11 {
        width: 91.66%;
      }
      &.ml10 {
        width: 83.33%;
      }
      &.ml9 {
        width: 75%;
      }
      &.ml8 {
        width: 66.66%;
      }
      &.ml7 {
        width: 58.33%;
      }
      &.ml6 {
        width: 50%;
      }
      &.ml5 {
        width: 41.66%;
      }
      &.ml4 {
        width: 33.33%;
      }
      &.ml3 {
        width: 25%;
      }
      &.ml2 {
        width: 16.66%;
      }
      &.ml1 {
        width: 8.33%;
      }
      &.ml0 {
        width: 0;
        display: none;
      }
      &.ml-mgZero .pane.ml12 {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  body.gutterless .main {
    width: 93.6%;
    margin: 0 3.2%;
  }
  .row .pane {
    margin-left: 4%;
    &.dw-mgZero {
      margin-left: 4%;
    }
    &.tp-mgZero {
      margin-left: 4%;
    }
    &.ml-mgZero {
      margin-left: 0;
    }
    &:last-child {
      float: left;
    }
    .pane:first-child {
      margin-left: 0;
    }
  }
  .rwd {
    .pane {
      float: none;
      width: 100%;
      margin: 0;
    }

    &.gutterless .pane {
      float: none;
      width: 100%;
      margin: 0;
    }
  }
}
@media all and(max-width: 480px) {
  .main {
    width: 93.6%;
    margin: 0 3.2%;
  }
    .pane, .toggle-mode .row .pane {
      float: none;
      width: 100%;
      margin: 0;
      &.mp12 {
        width: 100%;
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp11 {
        width: 91.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp10 {
        width: 82.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp9 {
        width: 74%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp8 {
        width: 65.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp7 {
        width: 56.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp6 {
        width: 48%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp5 {
        width: 39.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp4 {
        width: 30.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp3 {
        width: 22%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp2 {
        width: 13.33%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp1 {
        width: 4.66%;
        float: left;
        margin-left: 4%;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp0 {
        width: 0;
        display: none;
      }
    }
    .gutterless .pane {
      float: none;
      width: 100%;
      margin: 0;
      &.mp1 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp2 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp3 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp4 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp5 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp6 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp7 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp8 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp9 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp10 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp11 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
      &.mp12 {
        float: left;
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  .pane {
    &.mp12 {
      width: 100%;
    }
    &.mp11 {
      width: 91.33%;
    }
    &.mp10 {
      width: 82.66%;
    }
    &.mp9 {
      width: 74%;
    }
    &.mp8 {
      width: 65.33%;
    }
    &.mp7 {
      width: 56.66%;
    }
    &.mp6 {
      width: 48%;
    }
    &.mp5 {
      width: 39.33%;
    }
    &.mp4 {
      width: 30.66%;
    }
    &.mp3 {
      width: 22%;
    }
    &.mp2 {
      width: 13.33%;
    }
    &.mp1 {
      width: 4.66%;
    }
    &.mp0 {
      width: 0;
      display: none;
    }
  }
  .gutterless {
    .pane {
      &.mp12 {
        width: 100%;
      }
      &.mp11 {
        width: 91.66%;
      }
      &.mp10 {
        width: 83.33%;
      }
      &.mp9 {
        width: 75%;
      }
      &.mp8 {
        width: 66.66%;
      }
      &.mp7 {
        width: 58.33%;
      }
      &.mp6 {
        width: 50%;
      }
      &.mp5 {
        width: 41.66%;
      }
      &.mp4 {
        width: 33.33%;
      }
      &.mp3 {
        width: 25%;
      }
      &.mp2 {
        width: 16.66%;
      }
      &.mp1 {
        width: 8.33%;
      }
    }
    .row .gutterless .pane {
      margin-left: 0;
    }
    .rwd .pane {
      &.mp12 {
        width: 100%;
      }
      &.mp11 {
        width: 91.66%;
      }
      &.mp10 {
        width: 83.33%;
      }
      &.mp9 {
        width: 75%;
      }
      &.mp8 {
        width: 66.66%;
      }
      &.mp7 {
        width: 58.33%;
      }
      &.mp6 {
        width: 50%;
      }
      &.mp5 {
        width: 41.66%;
      }
      &.mp4 {
        width: 33.33%;
      }
      &.mp3 {
        width: 25%;
      }
      &.mp2 {
        width: 16.66%;
      }
      &.mp1 {
        width: 8.33%;
      }
    }
  }
  body.gutterless .main {
    width: 93.6%;
    margin: 0 3.2%;
  }
  .pane {
    margin-left: 4%;
  }

  .toggle-mode {
    @for $i from 1 through 11 {
      .pane.base#{$i}-#{$i + 1}.ml12 { width: 100%; margin-left:0; }
    }
  }

}

.left {
  float: left;
}
.right {
  float: right;
}